<div class="row m-5">
    <div class="container col-12">
        <div class="col-12">
            <div class="row stat p-4 bg-dark">
                <div class="col-4">
                    <div class="photo">

                    </div>
                </div>
                <div class="col-6 m-5">
                    <div class="status">
                        <table>
                            <tr> 
                                <td>Nom </td> <td> UserName</td>
                            </tr>
                            <tr>
                                <td>Prenom </td> <td> UserFirstName</td>
                            </tr>
                            <tr>
                                <td>Email </td> <td> UserEmail</td>
                            </tr>
                            <tr><td>ID</td><td>1000054</td></tr>
                           
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-12 mt-4">
            <div class="static row col-12">
                <div class="col-6 side-1">

                </div>
                <div class="col-6">
                    <!-- <table>
                        <tr>
                            <td>Record sur le jeu</td> <td> 256 </td>
                        </tr>
                        <tr>
                            <td>Temps de jeu</td> <td> 5 min 44 sec</td>
                        </tr>
                        <tr> <td>Classements mondial</td> <td> n-iem </td>
                         </tr>
                    </table> -->
                </div>
            </div>
        </div>
    </div>
</div>