<div class="row m-5">
    <div class="container col-12">
        <div class="col-12">
            <div class="row stat p-4 bg-dark">
                <div class="col-4">
                    <div class="photo">

                    </div>
                </div>
                <div class="col-6 m-5">
                    <div class="status">
                        <table>
                            <tr> 
                                <td>Nom </td> <td> UserName</td>
                            </tr>
                            <tr>
                                <td>Prenom </td> <td> UserFirstName</td>
                            </tr>
                            <tr>
                                <td>Email </td> <td> UserEmail</td>
                            </tr>
                           
                        </table>
                    </div>
                    
                </div>
            </div>
            <div class="col-12">

            </div>
        </div>
    </div>
</div>