<div class="row p-2">
    <h1 class="mx-auto p-2 col-10">
        Se connecter ???
    </h1>
    <div class="col-10 p-5">
        <form class="form-control m-2">
            <input type="email" name="email" placeholder="Veuillez entrer votre email" id="email" class="form-control mt-2 p-2">
            <input type="password" name="password" placeholder="Mot de passe here!" id="password" class="form-control p-2 mt-4">
            <button type="submit" class="btn btn-danger col-12 mt-4 p-2">Suivant</button>
        </form>
    </div>
 </div>