<div class="col-12">
    <div class="row contain">
        <div class="card">
            <div class="col-12 card-body">
                <table>
                    <tr><td><i class="fi fi-rr-gamepad"></i> <p>Game</p></td></tr>
                    <tr><td> <i class="fi fi-br-envelope"></i> <p>Message</p></td></tr>
                </table>
            </div>
            <div class="col-12 card-footer">
                <button class="btn btn-danger col-12">Deconnexion</button>
            </div>
        </div>
    </div>
</div>
