<div class="col-12">
    <div class="row">
        <div class="col-12 publier">
          
        </div>
        <div class="col-12 voirPub here">
            <div *ngFor = "let number of nombre">
                <div class="card container mt-4 col-8">
                    <div class="card-body ">
                        <nav>
                            <div class="row">
                                <div class="col-2 sary"></div>
                                <div class="col-8"><h2>Nom user</h2></div>
                            </div>
                        </nav>
                        <section>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, vel tempora deserunt vitae ex inventore earum atque obcaecati itaque saepe a at esse, totam amet debitis cumque eum aliquam beatae.
                        </section>
                    </div>
                    <div class="card-footer">
                       <div class="row">
                        <div class="col-4 fa icons"><i class="fi fi-rr-heart "></i></div>
                        <div class="col-4 fa icons"><i class="fi fi-rr-comment-alt-middle "></i></div>
                        <div class="col-4 icons"><i class="fi fi-rr-eye-crossed "></i></div>
                       </div>
                    </div>
                </div>  
            </div> 
                  
        </div>
    </div>
</div>