.body{
    background-image: url("../../assets/ProjetJS/Back-1.PNG");
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}
h3{
    font-family: 'font-3';
    color: transparent;  
    background-color: transparent;
    background: linear-gradient(to right, red,rgb(212, 72, 16),#ffffff);
    background-clip: text;
    width: 35%;
    font-size: 40px;
}
h1
{
    font-family: 'font-1';
    color: transparent;
    background-color: transparent;
    background: linear-gradient(to right,green,yellow,orange, orangered, red , orangered);
    background-clip: text;
    font-size: 6rem ;
    transition: all 2s;
}
h1:hover
{
    margin-left: 20%;
}
.explication
{
    height: 70vh;
    overflow: scroll;
}
.explication::-webkit-scrollbar
{
    width: 10px;
    background-color: rgba(0, 0, 0, 0);
}
.explication::-webkit-scrollbar-thumb
{
    background-color: #ffffff;
    border-radius: 20px;   
}
.explication::-webkit-scrollbar-corner
{background-color:  transparent;}
h4
{
    color: white;
    font-family: 'font-2';
    font-size: 2rem;
}
.phrase
{
    font-size: 1.5rem;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
