body{
    background-color: #131416;
    background-size: cover;    
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    overflow: hidden;
    height: 100vh;
    animation: backAnimation 10s infinite linear;
}

