<div class="row p-2">
    <h1 class="mx-auto p-2 col-10">
        S'inscrire ???
    </h1>
    <div class="col-10 p-3">
        <form class="form-control p-3 m-2">
            <input type="text" name="pseudo" id="pseudo" placeholder="Votre Pseudo" class="form-control mt-2"
            required>
            <input type="text" name="name" id="name" placeholder="Votre Nom" class="form-control  mt-2" 
            required>
            <input type="text" name="First name" id="First name" placeholder="Votre Prenom" class="form-control  mt-2" 
            required>
            <input type="email" name="email" placeholder="Veuillez entrer votre email" id="email" class="form-control mt-2 p-2"
            required>
            <input type="password" name="password" placeholder="Mot de passe here!" id="password" class="form-control p-2 mt-2" 
            required>
            <input type="password" name="Confpassword" id="Confpassword" placeholder="Veuillez Confirmer votre mot de passe " class="form-control  mt-2" 
            required>

            <button type="submit" class="btn btn-danger col-12 mt-4 p-2">Suivant</button>
        </form>
    </div>
 </div>