<div class="row">
    <div class="col-12">
        <nav>
                <div class="logo col-4">
                    <h1>
                        Gam3R-Verse
                    </h1>
                </div>
                <div class="liste col-8">
                    <ul class="nav nav-underline justify-content-end ">
                        <li class="nav-item" *ngIf="!onProfil"> <span class="a nav-link">Profil</span></li>
                        <li><span class="a nav-link">Options</span></li>
                   </ul>
            </div>
        </nav>
    </div>
</div>