nav
{
    background-color: black;
    height: 10vh;
    box-shadow: red 0 0 20px;
    position: relative;
}
.logo, .liste
{
    top: 0;
    position: absolute;
    height: 100%;
    display: inline-block;
}
.logo{left: 0;} 
nav .logo h1{
    color: transparent ;
    font-size: 4.5rem; 
    font-family: 'font-1';
    background: linear-gradient(45deg,rgb(71, 64, 64), red, white);
    background-clip: text;
}
.liste{right: 0;}
